.navbar_main{
    background-color:ivory;
    display: flex;
    gap:2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
  }
  .navbar_logo{
    height: 4rem;
    width: 10rem;
  }
  /*Navbar_Title*/
  .nextui-c-PJLV-ikpPLrz-css {
    color: inherit;
    text-transform: none;
    text-align: center;
    margin-left: 150%;
  }
  /*Navbar_Search*/
  .nextui-c-eXOOPO-lkBNdM-isTextarea-false {
    height: 100%;
    width: 25%;
  }