.homeSlide h1 {
  font-size: 45px;
  line-height: 55px;
  margin: 50px 0 20px 0;
}
.homeSlide p {
  margin: 20px 0;
}
.homeSlide ul {
  position: absolute;
  /* bottom: 10px; */
  /* margin-left: 10%; */
}
.homeSlide ul li {
  border: 2px solid #b8b7b7;
  border-radius: 50%;
  padding: 10px;
}
.homeSlide ul li button {
  background: transparent !important;
  color: transparent !important;
}
.homeSlide ul li button::before {
  font-size: 15px !important;
  color: #0f3460;
  position: absolute;
  top: 2px;
  left: 0;
  margin: auto;
}
.homeSlide{
  margin-top: -5%;
}
/* .slider_comp{
  margin-top: -5%;
  margin-left: 15%;
}
.slider_comp.left{
  margin-left: 20%;
}*/
.slider_comp_main{
 margin-top: 10%;

} 